// css button, title, icon, elements...
@mixin button {
    text-decoration: none;
    color: #000;
    font-size:13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@mixin titH2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
@mixin textBox {
    text-decoration: none;
    font-size: 12px;
    font-family: pn;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}
@mixin textElis {
    font-size: 12px;
    font-style : italic;
}
@mixin textUp {
    font-size: 12px;
    text-transform: uppercase;
}
@mixin button {
    text-decoration: none;
    color: #000;
    font-size:12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@mixin invert {
    filter: invert(100%);
}

@mixin inline {
    content: "";
    width: 650px;
    height: 2px;
    background :rgb(255, 255, 255);
    display: inline-block;
}

@mixin inline1 {
    content: "";
    width: 100px;
    height: 1px;
    background :#000;
    display: inline-block;
}